# Exploratory Data Analysis

In [1]:
# Importing necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [2]:
# Loading datasets
stations = os.listdir('downloads/')
df_list = []

for filename in stations:
    if filename.endswith('.csv'):
        # Load the CSV file into a dataframe
        df = pd.read_csv(os.path.join('Downloads', filename))
        
        # Create a variable with the same name as the CSV file
        variable_name = os.path.splitext(filename)[0]
        globals()[variable_name] = df
        
        # Saving the df names into list
        df_list.append(variable_name)

In [3]:
df_list

['BandraKurlaComplexMumbaiIITM',
 'BandraMumbaiMPCB',
 'BorivaliEastMumbaiIITM',
 'BorivaliEastMumbaiMPCB',
 'ChakalaAndheriEastMumbaiIITM',
 'ChhatrapatiShivajiIntlAirportT2MumbaiMPCB',
 'ColabaMumbaiMPCB',
 'DeonarMumbaiIITM',
 'KandivaliEastMumbaiMPCB',
 'KhindipadaBhandupWestMumbaiIITM',
 'KurlaMumbaiMPCB',
 'MaladWestMumbaiIITM',
 'MazgaonMumbaiIITM',
 'MulundWestMumbaiMPCB',
 'NavyNagarColabaMumbaiIITM',
 'PowaiMumbaiMPCB',
 'SiddharthNagarWorliMumbaiIITM',
 'SionMumbaiMPCB',
 'VasaiWestMumbaiMPCB',
 'VileParleWestMumbaiMPCB',
 'WorliMumbaiMPCB']

In [4]:
# analyzing dataset for Bandra Kurla Complex

BandraKurlaComplexMumbaiIITM.head()

,Unnamed: 0,From Date,To Date,PM2.5,PM10,NO,NO2,NOx,NH3,SO2,...,RH,WS,WD,SR,BP,Xylene,AT,RF,TOT-RF,Unnamed: 25
0,1,01-01-2021 00:00,01-01-2021 00:15,147.26,175.93,16.23,61.72,45.3,79.76,4.68,...,94.14,0.46,187.53,None,953.2,0,21.84,0,0.0,NaN
1,2,01-01-2021 00:15,01-01-2021 00:30,145.37,173.96,16.88,61.5,45.75,79.01,18.49,...,94.99,0.47,224.11,None,953.2,0,21.84,0,0.0,NaN
2,3,01-01-2021 00:30,01-01-2021 00:45,156.71,186.12,22.71,62.99,51.15,84.96,17.62,...,93.88,0.46,212.47,None,953.2,0,22.01,0,0.0,NaN
3,4,01-01-2021 00:45,01-01-2021 01:00,171.18,205.41,16.55,59.13,44.19,77.83,18.14,...,93.38,0.27,216.65,None,954.2,0,21.99,0,0.0,NaN
4,5,01-01-2021 01:00,01-01-2021 01:15,183.17,219.31,20.39,59.87,47.66,81.63,18.69,...,92.44,0.17,103.12,None,954.9,0,22.04,0,0.0,NaN

In [5]:
BandraKurlaComplexMumbaiIITM.shape

(76475, 26)

In [6]:
BandraKurlaComplexMumbaiIITM.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76475 entries, 0 to 76474
Data columns (total 26 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   76475 non-null  int64
 1   From Date    76475 non-null  object
 2   To Date      76475 non-null  object
 3   PM2.5        76475 non-null  object
 4   PM10         76475 non-null  object
 5   NO           76475 non-null  object
 6   NO2          76475 non-null  object
 7   NOx          76475 non-null  object
 8   NH3          76475 non-null  object
 9   SO2          76475 non-null  object
 10  CO           76475 non-null  object
 11  Ozone        76475 non-null  object
 12  Benzene      76475 non-null  object
 13  Toluene      76475 non-null  object
 14  Eth-Benzene  76475 non-null  object
 15  MP-Xylene    76475 non-null  object
 16  RH           76475 non-null  object
 17  WS           76475 non-null  object
 18  WD           76475 non-null  object
 19  SR           76475 non-null  object
 20  BP           76475 non-null  object
 21  Xylene       76475 non-null  object
 22  AT           76475 non-null  object
 23  RF           76475 non-null  object
 24  TOT-RF       76475 non-null  float64
 25  Unnamed: 25  0 non-null      float64
dtypes: float64(2), int64(1), object(23)
memory usage: 15.2+ MB

In [7]:
BandraMumbaiMPCB.head()

,Unnamed: 0,From Date,To Date,PM2.5,PM10,NO,NO2,NOx,SO2,CO,...,Temp,RH,WS,WD,SR,BP,VWS,RF,TOT-RF,Unnamed: 22
0,1,01-01-2021 00:00,01-01-2021 00:15,35.99,54.3,4.88,0.93,5.81,16.15,2.01,...,25.5,81.7,0.1,19.3,15,768.38,0.9,0,0.0,NaN
1,2,01-01-2021 00:15,01-01-2021 00:30,17.3,60.96,4.84,0.96,5.8,17.11,2.03,...,25.42,82.22,0.09,24.4,15,768.32,0.87,0,0.0,NaN
2,3,01-01-2021 00:30,01-01-2021 00:45,10.66,57.51,4.87,0.92,5.78,15.24,2.05,...,25,85.1,0.1,53.3,15,768.07,0.9,0,0.0,NaN
3,4,01-01-2021 00:45,01-01-2021 01:00,5.69,54.66,4.89,0.72,5.62,16.45,2.06,...,25,85.1,0.1,53.3,15,768.07,0.9,0,0.0,NaN
4,5,01-01-2021 01:00,01-01-2021 01:15,9.84,53.59,4.87,0.93,5.81,15.58,2.07,...,25,85.1,0.1,53.3,15,768.07,0.9,0,0.0,NaN

In [8]:
# Checking number of columns in each df

for station in df_list:
    print(f'{station} : Columns = {globals()[station].shape[1]}, Rows = {globals()[station].shape[0]}')

BandraKurlaComplexMumbaiIITM : Columns = 26, Rows = 76475
BandraMumbaiMPCB : Columns = 23, Rows = 76363
BorivaliEastMumbaiIITM : Columns = 18, Rows = 76364
BorivaliEastMumbaiMPCB : Columns = 24, Rows = 76365
ChakalaAndheriEastMumbaiIITM : Columns = 26, Rows = 76365
ChhatrapatiShivajiIntlAirportT2MumbaiMPCB : Columns = 24, Rows = 76321
ColabaMumbaiMPCB : Columns = 24, Rows = 76389
DeonarMumbaiIITM : Columns = 25, Rows = 76321
KandivaliEastMumbaiMPCB : Columns = 25, Rows = 76321
KhindipadaBhandupWestMumbaiIITM : Columns = 25, Rows = 76321
KurlaMumbaiMPCB : Columns = 24, Rows = 76321
MaladWestMumbaiIITM : Columns = 24, Rows = 76321
MazgaonMumbaiIITM : Columns = 22, Rows = 76393
MulundWestMumbaiMPCB : Columns = 24, Rows = 76321
NavyNagarColabaMumbaiIITM : Columns = 25, Rows = 76321
PowaiMumbaiMPCB : Columns = 23, Rows = 76321
SiddharthNagarWorliMumbaiIITM : Columns = 18, Rows = 76321
SionMumbaiMPCB : Columns = 23, Rows = 76321
VasaiWestMumbaiMPCB : Columns = 23, Rows = 76321
VileParleWestMumbaiMPCB : Columns = 23, Rows = 76321
WorliMumbaiMPCB : Columns = 23, Rows = 76321

* There are some columns missing for some stations

In [9]:
for station in df_list:
    print(f'{station}: {list(globals()[station].columns)}', end='\n\n\n')

BandraKurlaComplexMumbaiIITM: ['Unnamed: 0', 'From Date', 'To Date', 'PM2.5', 'PM10', 'NO', 'NO2', 'NOx', 'NH3', 'SO2', 'CO', 'Ozone', 'Benzene', 'Toluene', 'Eth-Benzene', 'MP-Xylene', 'RH', 'WS', 'WD', 'SR', 'BP', 'Xylene', 'AT', 'RF', 'TOT-RF', 'Unnamed: 25']


BandraMumbaiMPCB: ['Unnamed: 0', 'From Date', 'To Date', 'PM2.5', 'PM10', 'NO', 'NO2', 'NOx', 'SO2', 'CO', 'Ozone', 'Benzene', 'Toluene', 'Temp', 'RH', 'WS', 'WD', 'SR', 'BP', 'VWS', 'RF', 'TOT-RF', 'Unnamed: 22']


BorivaliEastMumbaiIITM: ['Unnamed: 0', 'From Date', 'To Date', 'PM2.5', 'PM10', 'NO', 'NO2', 'NOx', 'NH3', 'CO', 'Ozone', 'RH', 'WS', 'WD', 'BP', 'AT', 'RF', 'TOT-RF']


BorivaliEastMumbaiMPCB: ['Unnamed: 0', 'From Date', 'To Date', 'PM2.5', 'PM10', 'NO', 'NO2', 'NOx', 'NH3', 'SO2', 'CO', 'Ozone', 'Benzene', 'Toluene', 'Eth-Benzene', 'MP-Xylene', 'RH', 'WS', 'WD', 'SR', 'BP', 'AT', 'TOT-RF', 'Unnamed: 23']


ChakalaAndheriEastMumbaiIITM: ['Unnamed: 0', 'From Date', 'To Date', 'PM2.5', 'PM10', 'NO', 'NO2', 'NOx', 'NH3', 'SO2', 'CO', 'Ozone', 'Benzene', 'Toluene', 'Eth-Benzene', 'MP-Xylene', 'Temp', 'RH', 'WS', 'WD', 'BP', 'Xylene', 'AT', 'RF', 'TOT-RF', 'Unnamed: 25']


ChhatrapatiShivajiIntlAirportT2MumbaiMPCB: ['Unnamed: 0', 'From Date', 'To Date', 'PM2.5', 'PM10', 'NO', 'NO2', 'NOx', 'NH3', 'SO2', 'CO', 'Ozone', 'Benzene', 'Toluene', 'Eth-Benzene', 'MP-Xylene', 'RH', 'WS', 'WD', 'SR', 'BP', 'AT', 'TOT-RF', 'Unnamed: 23']


ColabaMumbaiMPCB: ['Unnamed: 0', 'From Date', 'To Date', 'PM2.5', 'PM10', 'NO', 'NO2', 'NOx', 'NH3', 'SO2', 'CO', 'Ozone', 'Benzene', 'Toluene', 'Eth-Benzene', 'MP-Xylene', 'RH', 'WS', 'WD', 'SR', 'BP', 'AT', 'TOT-RF', 'Unnamed: 23']


DeonarMumbaiIITM: ['Unnamed: 0', 'From Date', 'To Date', 'PM2.5', 'PM10', 'NO', 'NO2', 'NOx', 'NH3', 'SO2', 'CO', 'Ozone', 'Benzene', 'Toluene', 'Eth-Benzene', 'MP-Xylene', 'RH', 'WS', 'WD', 'BP', 'Xylene', 'AT', 'RF', 'TOT-RF', 'Unnamed: 24']


KandivaliEastMumbaiMPCB: ['Unnamed: 0', 'From Date', 'To Date', 'PM2.5', 'PM10', 'NO', 'NO2', 'NOx', 'NH3', 'SO2', 'CO', 'Ozone', 'Benzene', 'Toluene', 'Eth-Benzene', 'MP-Xylene', 'RH', 'WS', 'WD', 'SR', 'BP', 'AT', 'RF', 'TOT-RF', 'Unnamed: 24']


KhindipadaBhandupWestMumbaiIITM: ['Unnamed: 0', 'From Date', 'To Date', 'PM2.5', 'PM10', 'NO', 'NO2', 'NOx', 'NH3', 'SO2', 'CO', 'Ozone', 'Benzene', 'Toluene', 'Eth-Benzene', 'MP-Xylene', 'RH', 'WS', 'WD', 'BP', 'Xylene', 'AT', 'RF', 'TOT-RF', 'Unnamed: 24']


KurlaMumbaiMPCB: ['Unnamed: 0', 'From Date', 'To Date', 'PM2.5', 'PM10', 'NO', 'NO2', 'NOx', 'NH3', 'SO2', 'CO', 'Ozone', 'Benzene', 'Toluene', 'Eth-Benzene', 'MP-Xylene', 'RH', 'WS', 'WD', 'SR', 'BP', 'AT', 'TOT-RF', 'Unnamed: 23']


MaladWestMumbaiIITM: ['Unnamed: 0', 'From Date', 'To Date', 'PM2.5', 'PM10', 'NO', 'NO2', 'NOx', 'NH3', 'SO2', 'CO', 'Ozone', 'Benzene', 'Toluene', 'Eth-Benzene', 'MP-Xylene', 'RH', 'WS', 'WD', 'BP', 'AT', 'RF', 'TOT-RF', 'Unnamed: 23']


MazgaonMumbaiIITM: ['Unnamed: 0', 'From Date', 'To Date', 'PM2.5', 'PM10', 'NO', 'NO2', 'NOx', 'NH3', 'SO2', 'CO', 'Ozone', 'Benzene', 'Toluene', 'Eth-Benzene', 'MP-Xylene', 'RH', 'WS', 'WD', 'Xylene', 'TOT-RF', 'Unnamed: 21']


MulundWestMumbaiMPCB: ['Unnamed: 0', 'From Date', 'To Date', 'PM2.5', 'PM10', 'NO', 'NO2', 'NOx', 'NH3', 'SO2', 'CO', 'Ozone', 'Benzene', 'Toluene', 'Eth-Benzene', 'MP-Xylene', 'RH', 'WS', 'WD', 'BP', 'AT', 'RF', 'TOT-RF', 'Unnamed: 23']


NavyNagarColabaMumbaiIITM: ['Unnamed: 0', 'From Date', 'To Date', 'PM2.5', 'PM10', 'NO', 'NO2', 'NOx', 'NH3', 'SO2', 'CO', 'Ozone', 'Benzene', 'Toluene', 'Eth-Benzene', 'MP-Xylene', 'RH', 'WS', 'WD', 'BP', 'Xylene', 'AT', 'RF', 'TOT-RF', 'Unnamed: 24']


PowaiMumbaiMPCB: ['Unnamed: 0', 'From Date', 'To Date', 'PM2.5', 'PM10', 'NO', 'NO2', 'NOx', 'NH3', 'SO2', 'CO', 'Ozone', 'Benzene', 'Toluene', 'Eth-Benzene', 'MP-Xylene', 'RH', 'WS', 'WD', 'BP', 'AT', 'TOT-RF', 'Unnamed: 22']


SiddharthNagarWorliMumbaiIITM: ['Unnamed: 0', 'From Date', 'To Date', 'PM2.5', 'PM10', 'NO', 'NO2', 'NOx', 'NH3', 'CO', 'Ozone', 'RH', 'WS', 'WD', 'BP', 'AT', 'RF', 'TOT-RF']


SionMumbaiMPCB: ['Unnamed: 0', 'From Date', 'To Date', 'PM2.5', 'PM10', 'NO', 'NO2', 'NOx', 'NH3', 'SO2', 'CO', 'Ozone', 'Benzene', 'Toluene', 'Eth-Benzene', 'MP-Xylene', 'RH', 'WS', 'WD', 'BP', 'AT', 'TOT-RF', 'Unnamed: 22']


VasaiWestMumbaiMPCB: ['Unnamed: 0', 'From Date', 'To Date', 'PM2.5', 'PM10', 'NO', 'NO2', 'NOx', 'NH3', 'SO2', 'CO', 'Ozone', 'Benzene', 'Toluene', 'Eth-Benzene', 'MP-Xylene', 'RH', 'WS', 'WD', 'BP', 'AT', 'TOT-RF', 'Unnamed: 22']


VileParleWestMumbaiMPCB: ['Unnamed: 0', 'From Date', 'To Date', 'PM2.5', 'PM10', 'NO', 'NO2', 'NOx', 'NH3', 'SO2', 'CO', 'Ozone', 'Benzene', 'Toluene', 'Eth-Benzene', 'MP-Xylene', 'RH', 'WS', 'WD', 'BP', 'AT', 'TOT-RF', 'Unnamed: 22']


WorliMumbaiMPCB: ['Unnamed: 0', 'From Date', 'To Date', 'PM2.5', 'PM10', 'NO', 'NO2', 'NOx', 'NH3', 'SO2', 'CO', 'Ozone', 'Benzene', 'Toluene', 'Eth-Benzene', 'MP-Xylene', 'RH', 'WS', 'WD', 'BP', 'AT', 'TOT-RF', 'Unnamed: 22']

In [10]:
# Removing unnecesssary columns
for station in df_list:
    df = globals()[station]
    df = df.iloc[:, 1:-1]
    globals()[station] = df

In [11]:
for station in df_list:
    print(f'{station}: {list(globals()[station].columns)}', end='\n\n\n')

BandraKurlaComplexMumbaiIITM: ['From Date', 'To Date', 'PM2.5', 'PM10', 'NO', 'NO2', 'NOx', 'NH3', 'SO2', 'CO', 'Ozone', 'Benzene', 'Toluene', 'Eth-Benzene', 'MP-Xylene', 'RH', 'WS', 'WD', 'SR', 'BP', 'Xylene', 'AT', 'RF', 'TOT-RF']


BandraMumbaiMPCB: ['From Date', 'To Date', 'PM2.5', 'PM10', 'NO', 'NO2', 'NOx', 'SO2', 'CO', 'Ozone', 'Benzene', 'Toluene', 'Temp', 'RH', 'WS', 'WD', 'SR', 'BP', 'VWS', 'RF', 'TOT-RF']


BorivaliEastMumbaiIITM: ['From Date', 'To Date', 'PM2.5', 'PM10', 'NO', 'NO2', 'NOx', 'NH3', 'CO', 'Ozone', 'RH', 'WS', 'WD', 'BP', 'AT', 'RF']


BorivaliEastMumbaiMPCB: ['From Date', 'To Date', 'PM2.5', 'PM10', 'NO', 'NO2', 'NOx', 'NH3', 'SO2', 'CO', 'Ozone', 'Benzene', 'Toluene', 'Eth-Benzene', 'MP-Xylene', 'RH', 'WS', 'WD', 'SR', 'BP', 'AT', 'TOT-RF']


ChakalaAndheriEastMumbaiIITM: ['From Date', 'To Date', 'PM2.5', 'PM10', 'NO', 'NO2', 'NOx', 'NH3', 'SO2', 'CO', 'Ozone', 'Benzene', 'Toluene', 'Eth-Benzene', 'MP-Xylene', 'Temp', 'RH', 'WS', 'WD', 'BP', 'Xylene', 'AT', 'RF', 'TOT-RF']


ChhatrapatiShivajiIntlAirportT2MumbaiMPCB: ['From Date', 'To Date', 'PM2.5', 'PM10', 'NO', 'NO2', 'NOx', 'NH3', 'SO2', 'CO', 'Ozone', 'Benzene', 'Toluene', 'Eth-Benzene', 'MP-Xylene', 'RH', 'WS', 'WD', 'SR', 'BP', 'AT', 'TOT-RF']


ColabaMumbaiMPCB: ['From Date', 'To Date', 'PM2.5', 'PM10', 'NO', 'NO2', 'NOx', 'NH3', 'SO2', 'CO', 'Ozone', 'Benzene', 'Toluene', 'Eth-Benzene', 'MP-Xylene', 'RH', 'WS', 'WD', 'SR', 'BP', 'AT', 'TOT-RF']


DeonarMumbaiIITM: ['From Date', 'To Date', 'PM2.5', 'PM10', 'NO', 'NO2', 'NOx', 'NH3', 'SO2', 'CO', 'Ozone', 'Benzene', 'Toluene', 'Eth-Benzene', 'MP-Xylene', 'RH', 'WS', 'WD', 'BP', 'Xylene', 'AT', 'RF', 'TOT-RF']


KandivaliEastMumbaiMPCB: ['From Date', 'To Date', 'PM2.5', 'PM10', 'NO', 'NO2', 'NOx', 'NH3', 'SO2', 'CO', 'Ozone', 'Benzene', 'Toluene', 'Eth-Benzene', 'MP-Xylene', 'RH', 'WS', 'WD', 'SR', 'BP', 'AT', 'RF', 'TOT-RF']


KhindipadaBhandupWestMumbaiIITM: ['From Date', 'To Date', 'PM2.5', 'PM10', 'NO', 'NO2', 'NOx', 'NH3', 'SO2', 'CO', 'Ozone', 'Benzene', 'Toluene', 'Eth-Benzene', 'MP-Xylene', 'RH', 'WS', 'WD', 'BP', 'Xylene', 'AT', 'RF', 'TOT-RF']


KurlaMumbaiMPCB: ['From Date', 'To Date', 'PM2.5', 'PM10', 'NO', 'NO2', 'NOx', 'NH3', 'SO2', 'CO', 'Ozone', 'Benzene', 'Toluene', 'Eth-Benzene', 'MP-Xylene', 'RH', 'WS', 'WD', 'SR', 'BP', 'AT', 'TOT-RF']


MaladWestMumbaiIITM: ['From Date', 'To Date', 'PM2.5', 'PM10', 'NO', 'NO2', 'NOx', 'NH3', 'SO2', 'CO', 'Ozone', 'Benzene', 'Toluene', 'Eth-Benzene', 'MP-Xylene', 'RH', 'WS', 'WD', 'BP', 'AT', 'RF', 'TOT-RF']


MazgaonMumbaiIITM: ['From Date', 'To Date', 'PM2.5', 'PM10', 'NO', 'NO2', 'NOx', 'NH3', 'SO2', 'CO', 'Ozone', 'Benzene', 'Toluene', 'Eth-Benzene', 'MP-Xylene', 'RH', 'WS', 'WD', 'Xylene', 'TOT-RF']


MulundWestMumbaiMPCB: ['From Date', 'To Date', 'PM2.5', 'PM10', 'NO', 'NO2', 'NOx', 'NH3', 'SO2', 'CO', 'Ozone', 'Benzene', 'Toluene', 'Eth-Benzene', 'MP-Xylene', 'RH', 'WS', 'WD', 'BP', 'AT', 'RF', 'TOT-RF']


NavyNagarColabaMumbaiIITM: ['From Date', 'To Date', 'PM2.5', 'PM10', 'NO', 'NO2', 'NOx', 'NH3', 'SO2', 'CO', 'Ozone', 'Benzene', 'Toluene', 'Eth-Benzene', 'MP-Xylene', 'RH', 'WS', 'WD', 'BP', 'Xylene', 'AT', 'RF', 'TOT-RF']


PowaiMumbaiMPCB: ['From Date', 'To Date', 'PM2.5', 'PM10', 'NO', 'NO2', 'NOx', 'NH3', 'SO2', 'CO', 'Ozone', 'Benzene', 'Toluene', 'Eth-Benzene', 'MP-Xylene', 'RH', 'WS', 'WD', 'BP', 'AT', 'TOT-RF']


SiddharthNagarWorliMumbaiIITM: ['From Date', 'To Date', 'PM2.5', 'PM10', 'NO', 'NO2', 'NOx', 'NH3', 'CO', 'Ozone', 'RH', 'WS', 'WD', 'BP', 'AT', 'RF']


SionMumbaiMPCB: ['From Date', 'To Date', 'PM2.5', 'PM10', 'NO', 'NO2', 'NOx', 'NH3', 'SO2', 'CO', 'Ozone', 'Benzene', 'Toluene', 'Eth-Benzene', 'MP-Xylene', 'RH', 'WS', 'WD', 'BP', 'AT', 'TOT-RF']


VasaiWestMumbaiMPCB: ['From Date', 'To Date', 'PM2.5', 'PM10', 'NO', 'NO2', 'NOx', 'NH3', 'SO2', 'CO', 'Ozone', 'Benzene', 'Toluene', 'Eth-Benzene', 'MP-Xylene', 'RH', 'WS', 'WD', 'BP', 'AT', 'TOT-RF']


VileParleWestMumbaiMPCB: ['From Date', 'To Date', 'PM2.5', 'PM10', 'NO', 'NO2', 'NOx', 'NH3', 'SO2', 'CO', 'Ozone', 'Benzene', 'Toluene', 'Eth-Benzene', 'MP-Xylene', 'RH', 'WS', 'WD', 'BP', 'AT', 'TOT-RF']


WorliMumbaiMPCB: ['From Date', 'To Date', 'PM2.5', 'PM10', 'NO', 'NO2', 'NOx', 'NH3', 'SO2', 'CO', 'Ozone', 'Benzene', 'Toluene', 'Eth-Benzene', 'MP-Xylene', 'RH', 'WS', 'WD', 'BP', 'AT', 'TOT-RF']

### Data Dictionary

In [12]:
# Counting how station dataset contains each parameters
cols = {}
for station in df_list:
    for col in globals()[station].columns:
        if col not in cols:
            cols[col] = 1
        else:
            cols[col] += 1       
cols

{'From Date': 21,
 'To Date': 21,
 'PM2.5': 21,
 'PM10': 21,
 'NO': 21,
 'NO2': 21,
 'NOx': 21,
 'NH3': 20,
 'SO2': 19,
 'CO': 21,
 'Ozone': 21,
 'Benzene': 19,
 'Toluene': 19,
 'Eth-Benzene': 18,
 'MP-Xylene': 18,
 'RH': 21,
 'WS': 21,
 'WD': 21,
 'SR': 7,
 'BP': 20,
 'Xylene': 6,
 'AT': 19,
 'RF': 11,
 'TOT-RF': 19,
 'Temp': 2,
 'VWS': 1}

In [30]:
# Creating a data dictionary with abbrv and parameter names
parameters = ['Start Date', 'End Date', 'Particulate Matter less than 2.5 micron size', 'Particulate Matter less than 10 Micron size',
              'Nitric Oxide', 'Nitrogen dioxied', 'Oxides of Nitrogen', 'Ammonia', 'Sulphur Dioxide','Carbon Monoxide',
              'Ozone', 'Benzen', 'Toluene', 'Ethyl Benzene', 'M+P Xylene', 'Relative Humidity', 'Wind Speed', 'Wind Direcction',
              'Solar Radiation', 'Barometric Pressure', 'Xylene', 'Ambient Temperature', 'Rain Fall', 'TOT-RF',
              'Rack Temperature', 'Vertical Wind Speed']

param_abbv = list(cols.keys())

data_dictionary = dict()

for i in range(len(parameters)):
    data_dictionary[param_abbv[i]] = parameters[i]
    
data_dictionary

{'From Date': 'Start Date',
 'To Date': 'End Date',
 'PM2.5': 'Particulate Matter less than 2.5 micron size',
 'PM10': 'Particulate Matter less than 10 Micron size',
 'NO': 'Nitric Oxide',
 'NO2': 'Nitrogen dioxied',
 'NOx': 'Oxides of Nitrogen',
 'NH3': 'Ammonia',
 'SO2': 'Sulphur Dioxide',
 'CO': 'Carbon Monoxide',
 'Ozone': 'Ozone',
 'Benzene': 'Benzen',
 'Toluene': 'Toluene',
 'Eth-Benzene': 'Ethyl Benzene',
 'MP-Xylene': 'M+P Xylene',
 'RH': 'Relative Humidity',
 'WS': 'Wind Speed',
 'WD': 'Wind Direcction',
 'SR': 'Solar Radiation',
 'BP': 'Barometric Pressure',
 'Xylene': 'Xylene',
 'AT': 'Ambient Temperature',
 'RF': 'Rain Fall',
 'TOT-RF': 'TOT-RF',
 'Temp': 'Rack Temperature',
 'VWS': 'Vertical Wind Speed'}

In [38]:
params_df = pd.DataFrame(data_dictionary.items(), columns=['Abbrevations', 'Parametres'])
params_df.index = range(len(params_df))

In [44]:
params_df['How many stations'] = [cols[abb] for abb in param_abbv]

In [43]:
missing_stations = dict()

for abbv in param_abbv:
    missing_stations[abbv] = []
    for station in missing_cols:
        if abbv in missing_cols[station]:
            missing_stations[abbv].append(station)

missing_stations

{'From Date': [],
 'To Date': [],
 'PM2.5': [],
 'PM10': [],
 'NO': [],
 'NO2': [],
 'NOx': [],
 'NH3': ['BandraMumbaiMPCB'],
 'SO2': ['BorivaliEastMumbaiIITM', 'SiddharthNagarWorliMumbaiIITM'],
 'CO': [],
 'Ozone': [],
 'Benzene': ['BorivaliEastMumbaiIITM', 'SiddharthNagarWorliMumbaiIITM'],
 'Toluene': ['BorivaliEastMumbaiIITM', 'SiddharthNagarWorliMumbaiIITM'],
 'Eth-Benzene': ['BandraMumbaiMPCB',
  'BorivaliEastMumbaiIITM',
  'SiddharthNagarWorliMumbaiIITM'],
 'MP-Xylene': ['BandraMumbaiMPCB',
  'BorivaliEastMumbaiIITM',
  'SiddharthNagarWorliMumbaiIITM'],
 'RH': [],
 'WS': [],
 'WD': [],
 'SR': ['BorivaliEastMumbaiIITM',
  'ChakalaAndheriEastMumbaiIITM',
  'DeonarMumbaiIITM',
  'KhindipadaBhandupWestMumbaiIITM',
  'MaladWestMumbaiIITM',
  'MazgaonMumbaiIITM',
  'MulundWestMumbaiMPCB',
  'NavyNagarColabaMumbaiIITM',
  'PowaiMumbaiMPCB',
  'SiddharthNagarWorliMumbaiIITM',
  'SionMumbaiMPCB',
  'VasaiWestMumbaiMPCB',
  'VileParleWestMumbaiMPCB',
  'WorliMumbaiMPCB'],
 'BP': ['MazgaonMumbaiIITM'],
 'Xylene': ['BandraMumbaiMPCB',
  'BorivaliEastMumbaiIITM',
  'BorivaliEastMumbaiMPCB',
  'ChhatrapatiShivajiIntlAirportT2MumbaiMPCB',
  'ColabaMumbaiMPCB',
  'KandivaliEastMumbaiMPCB',
  'KurlaMumbaiMPCB',
  'MaladWestMumbaiIITM',
  'MulundWestMumbaiMPCB',
  'PowaiMumbaiMPCB',
  'SiddharthNagarWorliMumbaiIITM',
  'SionMumbaiMPCB',
  'VasaiWestMumbaiMPCB',
  'VileParleWestMumbaiMPCB',
  'WorliMumbaiMPCB'],
 'AT': ['BandraMumbaiMPCB', 'MazgaonMumbaiIITM'],
 'RF': ['BorivaliEastMumbaiMPCB',
  'ChhatrapatiShivajiIntlAirportT2MumbaiMPCB',
  'ColabaMumbaiMPCB',
  'KurlaMumbaiMPCB',
  'MazgaonMumbaiIITM',
  'PowaiMumbaiMPCB',
  'SionMumbaiMPCB',
  'VasaiWestMumbaiMPCB',
  'VileParleWestMumbaiMPCB',
  'WorliMumbaiMPCB'],
 'TOT-RF': ['BorivaliEastMumbaiIITM', 'SiddharthNagarWorliMumbaiIITM'],
 'Temp': ['BandraKurlaComplexMumbaiIITM',
  'BorivaliEastMumbaiIITM',
  'BorivaliEastMumbaiMPCB',
  'ChhatrapatiShivajiIntlAirportT2MumbaiMPCB',
  'ColabaMumbaiMPCB',
  'DeonarMumbaiIITM',
  'KandivaliEastMumbaiMPCB',
  'KhindipadaBhandupWestMumbaiIITM',
  'KurlaMumbaiMPCB',
  'MaladWestMumbaiIITM',
  'MazgaonMumbaiIITM',
  'MulundWestMumbaiMPCB',
  'NavyNagarColabaMumbaiIITM',
  'PowaiMumbaiMPCB',
  'SiddharthNagarWorliMumbaiIITM',
  'SionMumbaiMPCB',
  'VasaiWestMumbaiMPCB',
  'VileParleWestMumbaiMPCB',
  'WorliMumbaiMPCB'],
 'VWS': ['BandraKurlaComplexMumbaiIITM',
  'BorivaliEastMumbaiIITM',
  'BorivaliEastMumbaiMPCB',
  'ChakalaAndheriEastMumbaiIITM',
  'ChhatrapatiShivajiIntlAirportT2MumbaiMPCB',
  'ColabaMumbaiMPCB',
  'DeonarMumbaiIITM',
  'KandivaliEastMumbaiMPCB',
  'KhindipadaBhandupWestMumbaiIITM',
  'KurlaMumbaiMPCB',
  'MaladWestMumbaiIITM',
  'MazgaonMumbaiIITM',
  'MulundWestMumbaiMPCB',
  'NavyNagarColabaMumbaiIITM',
  'PowaiMumbaiMPCB',
  'SiddharthNagarWorliMumbaiIITM',
  'SionMumbaiMPCB',
  'VasaiWestMumbaiMPCB',
  'VileParleWestMumbaiMPCB',
  'WorliMumbaiMPCB']}

In [45]:
params_df['Missing stations'] = [missing_stations[abb] for abb in param_abbv]
params_df

,Abbrevations,Parametres,How many stations,Missing stations
0,From Date,Start Date,21,[]
1,To Date,End Date,21,[]
2,PM2.5,Particulate Matter less than 2.5 micron size,21,[]
3,PM10,Particulate Matter less than 10 Micron size,21,[]
4,NO,Nitric Oxide,21,[]
5,NO2,Nitrogen dioxied,21,[]
6,NOx,Oxides of Nitrogen,21,[]
7,NH3,Ammonia,20,[BandraMumbaiMPCB]
8,SO2,Sulphur Dioxide,19,"[BorivaliEastMumbaiIITM, SiddharthNagarWorliMu..."
9,CO,Carbon Monoxide,21,[]
10,Ozone,Ozone,21,[]
11,Benzene,Benzen,19,"[BorivaliEastMumbaiIITM, SiddharthNagarWorliMu..."
12,Toluene,Toluene,19,"[BorivaliEastMumbaiIITM, SiddharthNagarWorliMu..."
13,Eth-Benzene,Ethyl Benzene,18,"[BandraMumbaiMPCB, BorivaliEastMumbaiIITM, Sid..."
14,MP-Xylene,M+P Xylene,18,"[BandraMumbaiMPCB, BorivaliEastMumbaiIITM, Sid..."
15,RH,Relative Humidity,21,[]
16,WS,Wind Speed,21,[]
17,WD,Wind Direcction,21,[]
18,SR,Solar Radiation,7,"[BorivaliEastMumbaiIITM, ChakalaAndheriEastMum..."
19,BP,Barometric Pressure,20,[MazgaonMumbaiIITM]
20,Xylene,Xylene,6,"[BandraMumbaiMPCB, BorivaliEastMumbaiIITM, Bor..."
21,AT,Ambient Temperature,19,"[BandraMumbaiMPCB, MazgaonMumbaiIITM]"
22,RF,Rain Fall,11,"[BorivaliEastMumbaiMPCB, ChhatrapatiShivajiInt..."
23,TOT-RF,TOT-RF,19,"[BorivaliEastMumbaiIITM, SiddharthNagarWorliMu..."
24,Temp,Rack Temperature,2,"[BandraKurlaComplexMumbaiIITM, BorivaliEastMum..."
25,VWS,Vertical Wind Speed,1,"[BandraKurlaComplexMumbaiIITM, BorivaliEastMum..."

* Vertical Wind Speed is only recorded for Borivali East Station
* Chakala Andheri East and Bandra Mumbai MPCB contains Rack Temperature
* Solar radiation is missing for 14 stations
* Xylene is absent in 15 stations
* Eth-Benzene and MP-Xylene are present only in 18 stations
* Rain Fall is missing for 10 stations
* NH3 is missing in Bandra Station
* Benzene, Toluene and Ambient Temperature are missing in 2 stations

### Stations and their missing columns

In [13]:
all_cols = list(cols.keys())
missing_cols = {}

for station in df_list:
    missing_cols[station] = []
    for column in all_cols:
        if column not in globals()[station].columns:
            missing_cols[station].append(column)

missing_cols

{'BandraKurlaComplexMumbaiIITM': ['Temp', 'VWS'],
 'BandraMumbaiMPCB': ['NH3', 'Eth-Benzene', 'MP-Xylene', 'Xylene', 'AT'],
 'BorivaliEastMumbaiIITM': ['SO2',
  'Benzene',
  'Toluene',
  'Eth-Benzene',
  'MP-Xylene',
  'SR',
  'Xylene',
  'TOT-RF',
  'Temp',
  'VWS'],
 'BorivaliEastMumbaiMPCB': ['Xylene', 'RF', 'Temp', 'VWS'],
 'ChakalaAndheriEastMumbaiIITM': ['SR', 'VWS'],
 'ChhatrapatiShivajiIntlAirportT2MumbaiMPCB': ['Xylene', 'RF', 'Temp', 'VWS'],
 'ColabaMumbaiMPCB': ['Xylene', 'RF', 'Temp', 'VWS'],
 'DeonarMumbaiIITM': ['SR', 'Temp', 'VWS'],
 'KandivaliEastMumbaiMPCB': ['Xylene', 'Temp', 'VWS'],
 'KhindipadaBhandupWestMumbaiIITM': ['SR', 'Temp', 'VWS'],
 'KurlaMumbaiMPCB': ['Xylene', 'RF', 'Temp', 'VWS'],
 'MaladWestMumbaiIITM': ['SR', 'Xylene', 'Temp', 'VWS'],
 'MazgaonMumbaiIITM': ['SR', 'BP', 'AT', 'RF', 'Temp', 'VWS'],
 'MulundWestMumbaiMPCB': ['SR', 'Xylene', 'Temp', 'VWS'],
 'NavyNagarColabaMumbaiIITM': ['SR', 'Temp', 'VWS'],
 'PowaiMumbaiMPCB': ['SR', 'Xylene', 'RF', 'Temp', 'VWS'],
 'SiddharthNagarWorliMumbaiIITM': ['SO2',
  'Benzene',
  'Toluene',
  'Eth-Benzene',
  'MP-Xylene',
  'SR',
  'Xylene',
  'TOT-RF',
  'Temp',
  'VWS'],
 'SionMumbaiMPCB': ['SR', 'Xylene', 'RF', 'Temp', 'VWS'],
 'VasaiWestMumbaiMPCB': ['SR', 'Xylene', 'RF', 'Temp', 'VWS'],
 'VileParleWestMumbaiMPCB': ['SR', 'Xylene', 'RF', 'Temp', 'VWS'],
 'WorliMumbaiMPCB': ['SR', 'Xylene', 'RF', 'Temp', 'VWS']}

In [14]:
missing_df = pd.DataFrame(missing_cols.items(), columns=['Station', 'Missing columns'])
missing_df.index = range(len(missing_df))
missing_df

,Station,Missing columns
0,BandraKurlaComplexMumbaiIITM,"[Temp, VWS]"
1,BandraMumbaiMPCB,"[NH3, Eth-Benzene, MP-Xylene, Xylene, AT]"
2,BorivaliEastMumbaiIITM,"[SO2, Benzene, Toluene, Eth-Benzene, MP-Xylene..."
3,BorivaliEastMumbaiMPCB,"[Xylene, RF, Temp, VWS]"
4,ChakalaAndheriEastMumbaiIITM,"[SR, VWS]"
5,ChhatrapatiShivajiIntlAirportT2MumbaiMPCB,"[Xylene, RF, Temp, VWS]"
6,ColabaMumbaiMPCB,"[Xylene, RF, Temp, VWS]"
7,DeonarMumbaiIITM,"[SR, Temp, VWS]"
8,KandivaliEastMumbaiMPCB,"[Xylene, Temp, VWS]"
9,KhindipadaBhandupWestMumbaiIITM,"[SR, Temp, VWS]"
10,KurlaMumbaiMPCB,"[Xylene, RF, Temp, VWS]"
11,MaladWestMumbaiIITM,"[SR, Xylene, Temp, VWS]"
12,MazgaonMumbaiIITM,"[SR, BP, AT, RF, Temp, VWS]"
13,MulundWestMumbaiMPCB,"[SR, Xylene, Temp, VWS]"
14,NavyNagarColabaMumbaiIITM,"[SR, Temp, VWS]"
15,PowaiMumbaiMPCB,"[SR, Xylene, RF, Temp, VWS]"
16,SiddharthNagarWorliMumbaiIITM,"[SO2, Benzene, Toluene, Eth-Benzene, MP-Xylene..."
17,SionMumbaiMPCB,"[SR, Xylene, RF, Temp, VWS]"
18,VasaiWestMumbaiMPCB,"[SR, Xylene, RF, Temp, VWS]"
19,VileParleWestMumbaiMPCB,"[SR, Xylene, RF, Temp, VWS]"
20,WorliMumbaiMPCB,"[SR, Xylene, RF, Temp, VWS]"

### Analyzing Data types

In [15]:
# checking datatypes of features
BandraKurlaComplexMumbaiIITM.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76475 entries, 0 to 76474
Data columns (total 24 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   From Date    76475 non-null  object
 1   To Date      76475 non-null  object
 2   PM2.5        76475 non-null  object
 3   PM10         76475 non-null  object
 4   NO           76475 non-null  object
 5   NO2          76475 non-null  object
 6   NOx          76475 non-null  object
 7   NH3          76475 non-null  object
 8   SO2          76475 non-null  object
 9   CO           76475 non-null  object
 10  Ozone        76475 non-null  object
 11  Benzene      76475 non-null  object
 12  Toluene      76475 non-null  object
 13  Eth-Benzene  76475 non-null  object
 14  MP-Xylene    76475 non-null  object
 15  RH           76475 non-null  object
 16  WS           76475 non-null  object
 17  WD           76475 non-null  object
 18  SR           76475 non-null  object
 19  BP           76475 non-null  object
 20  Xylene       76475 non-null  object
 21  AT           76475 non-null  object
 22  RF           76475 non-null  object
 23  TOT-RF       76475 non-null  float64
dtypes: float64(1), object(23)
memory usage: 14.0+ MB

* All values are of string datatype

In [16]:
BandraKurlaComplexMumbaiIITM.head()

,From Date,To Date,PM2.5,PM10,NO,NO2,NOx,NH3,SO2,CO,...,MP-Xylene,RH,WS,WD,SR,BP,Xylene,AT,RF,TOT-RF
0,01-01-2021 00:00,01-01-2021 00:15,147.26,175.93,16.23,61.72,45.3,79.76,4.68,1.38,...,None,94.14,0.46,187.53,None,953.2,0,21.84,0,0.0
1,01-01-2021 00:15,01-01-2021 00:30,145.37,173.96,16.88,61.5,45.75,79.01,18.49,1.38,...,None,94.99,0.47,224.11,None,953.2,0,21.84,0,0.0
2,01-01-2021 00:30,01-01-2021 00:45,156.71,186.12,22.71,62.99,51.15,84.96,17.62,1.27,...,None,93.88,0.46,212.47,None,953.2,0,22.01,0,0.0
3,01-01-2021 00:45,01-01-2021 01:00,171.18,205.41,16.55,59.13,44.19,77.83,18.14,1.23,...,None,93.38,0.27,216.65,None,954.2,0,21.99,0,0.0
4,01-01-2021 01:00,01-01-2021 01:15,183.17,219.31,20.39,59.87,47.66,81.63,18.69,1.24,...,None,92.44,0.17,103.12,None,954.9,0,22.04,0,0.0

* There are some None values present in some columns

In [17]:
# Replacing the None values with NaN and converting dtype to float
for station in df_list:
    df = globals()[station]
    df = df.replace('None', np.NaN)
    
    # Converting dtype of data colums
    df[df.columns[:2]] = df[df.columns[:2]].apply(pd.to_datetime)
    df[df.columns[2:]] = df[df.columns[2:]].astype(float)
    globals()[station] = df

In [18]:
BandraKurlaComplexMumbaiIITM.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76475 entries, 0 to 76474
Data columns (total 24 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   From Date    76475 non-null  datetime64[ns]
 1   To Date      76475 non-null  datetime64[ns]
 2   PM2.5        54706 non-null  float64
 3   PM10         54415 non-null  float64
 4   NO           51599 non-null  float64
 5   NO2          52139 non-null  float64
 6   NOx          52239 non-null  float64
 7   NH3          51777 non-null  float64
 8   SO2          52046 non-null  float64
 9   CO           54602 non-null  float64
 10  Ozone        54368 non-null  float64
 11  Benzene      56510 non-null  float64
 12  Toluene      56425 non-null  float64
 13  Eth-Benzene  53829 non-null  float64
 14  MP-Xylene    52911 non-null  float64
 15  RH           56278 non-null  float64
 16  WS           55954 non-null  float64
 17  WD           56084 non-null  float64
 18  SR           0 non-null      float64
 19  BP           56336 non-null  float64
 20  Xylene       56417 non-null  float64
 21  AT           42775 non-null  float64
 22  RF           56369 non-null  float64
 23  TOT-RF       76475 non-null  float64
dtypes: datetime64[ns](2), float64(22)
memory usage: 14.0 MB

In [19]:
BandraKurlaComplexMumbaiIITM.head()

,From Date,To Date,PM2.5,PM10,NO,NO2,NOx,NH3,SO2,CO,...,MP-Xylene,RH,WS,WD,SR,BP,Xylene,AT,RF,TOT-RF
0,2021-01-01 00:00:00,2021-01-01 00:15:00,147.26,175.93,16.23,61.72,45.30,79.76,4.68,1.38,...,NaN,94.14,0.46,187.53,NaN,953.2,0.0,21.84,0.0,0.0
1,2021-01-01 00:15:00,2021-01-01 00:30:00,145.37,173.96,16.88,61.50,45.75,79.01,18.49,1.38,...,NaN,94.99,0.47,224.11,NaN,953.2,0.0,21.84,0.0,0.0
2,2021-01-01 00:30:00,2021-01-01 00:45:00,156.71,186.12,22.71,62.99,51.15,84.96,17.62,1.27,...,NaN,93.88,0.46,212.47,NaN,953.2,0.0,22.01,0.0,0.0
3,2021-01-01 00:45:00,2021-01-01 01:00:00,171.18,205.41,16.55,59.13,44.19,77.83,18.14,1.23,...,NaN,93.38,0.27,216.65,NaN,954.2,0.0,21.99,0.0,0.0
4,2021-01-01 01:00:00,2021-01-01 01:15:00,183.17,219.31,20.39,59.87,47.66,81.63,18.69,1.24,...,NaN,92.44,0.17,103.12,NaN,954.9,0.0,22.04,0.0,0.0

### Missing values

In [20]:
# Checking for null values
BandraKurlaComplexMumbaiIITM.isnull().sum()

From Date          0
To Date            0
PM2.5          21769
PM10           22060
NO             24876
NO2            24336
NOx            24236
NH3            24698
SO2            24429
CO             21873
Ozone          22107
Benzene        19965
Toluene        20050
Eth-Benzene    22646
MP-Xylene      23564
RH             20197
WS             20521
WD             20391
SR             76475
BP             20139
Xylene         20058
AT             33700
RF             20106
TOT-RF             0
dtype: int64

* There are several null values in the datasets

### Grouping staions to 3 for distributing tasks

In [21]:
group_1 = df_list[:7]
group_2 = df_list[7:14]
group_3 = df_list[14:]

print("Stations in Group 1: ", group_1)
print("\n")
print("Stations in Group 2: ", group_2)
print("\n")
print("Stations in Group 3: ", group_3)

Stations in Group 1:  ['BandraKurlaComplexMumbaiIITM', 'BandraMumbaiMPCB', 'BorivaliEastMumbaiIITM', 'BorivaliEastMumbaiMPCB', 'ChakalaAndheriEastMumbaiIITM', 'ChhatrapatiShivajiIntlAirportT2MumbaiMPCB', 'ColabaMumbaiMPCB']


Stations in Group 2:  ['DeonarMumbaiIITM', 'KandivaliEastMumbaiMPCB', 'KhindipadaBhandupWestMumbaiIITM', 'KurlaMumbaiMPCB', 'MaladWestMumbaiIITM', 'MazgaonMumbaiIITM', 'MulundWestMumbaiMPCB']


Stations in Group 3:  ['NavyNagarColabaMumbaiIITM', 'PowaiMumbaiMPCB', 'SiddharthNagarWorliMumbaiIITM', 'SionMumbaiMPCB', 'VasaiWestMumbaiMPCB', 'VileParleWestMumbaiMPCB', 'WorliMumbaiMPCB']